<ul class="comment" id="{{ comment.id }}">
    <li id="postedBy">{{ comment.usernameSend }}</li>
    <li id="postedText">{{ comment.comment }}</li>
    <li id="postedAt">{{ comment.postDate.format('Y-m-d H:i') }}</li>
</ul>
