<ul class="box2" id="{{ message.id }}">
    <li id="name">{{ message.usernameMessageSend }}</li>
    <li id="date">{{ message.sentDate|date('Y-m-d H:i') }}</li>
    <li id="text">{{ message.text }}</li>
</ul>

