$paragraphFont: italic, 14px/18px, 'Roboto', sans-serif;
$bigFont: 900 30px/30px 'Roboto', sans-serif;
$mediumFont: 900 20px/20px 'Roboto', sans-serif;
$smallFont: 900 16px/16px 'Roboto', sans-serif;

$darkGray: #444444;
$lightGray: #999999;
$white: #ffffff;
$red: #d82132;

$smallMargin: 10px;
$mediumMargin: 20px;
$bigMargin: 30px;

.main-col {
	width: 1000px;
	height: auto;
	min-height: 429px;
	position: relative;

}

#container {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
}

.box {
    height: 400px;
    left: 50%;
    margin-left: -500px;
    margin-top: -200px;
    position: absolute;
    top: 50%;
    width: 1000px;
    z-index: 3;
    background-color: #fff;
}

.photo {
	float: left;
    height: 400px;
    width: 690px;
    background-color: #000; 
}
#image {
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
}

.clearfix {
	clear: both;
}

.text {
	float: right;
    height: 400px;
    padding: 20px;
    width: 270px;	
    position: relative;
}

#username {
	color: $red;
	font: $mediumFont;
}

#date {
	border-bottom: 1px solid;
    color: #f7b4a5;
    font-size: 12px;
    padding-bottom: 8px;
    padding-top: 5px;
}

#closeButton {
	background-color: #fff;
    border: medium none;
    color: #f7b4a5;
    font: 900 16px/16px "Roboto",sans-serif;
    position: absolute;
    right: -4px;
    top: 4px;
}

#closeButton:hover {
	cursor: pointer;
}

#like_likeNumber {
	background-color: #fff;
    border: medium none;
    color: #d82132;
    margin-left: -8px;
    margin-top: 30px;
}

#like_likeNumber:hover {
	text-decoration: underline;
	cursor: pointer;
}

.comment {
	background-color: #f7b4a5;
	margin-top: 15px;
}

#comment_comment {
	margin: 20px;
    resize: none;
    width: 220px;
}

.comment:after {
	border-color: #f7b4a5 transparent;
    border-style: solid;
    border-width: 0 10px 10px;
    bottom: auto;
    content: "";
    display: block;
    left: auto;
    position: absolute;
    right: 257px;
    top: 119px;
    width: 0;
}